# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.production
.env.*.local

# Vite cache
.vite/

# Editor-specific files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# Mac system files
Icon?

# Windows thumbnail cache
Thumbs.db

# Optional: Skip coverage reports if using testing
coverage/


# Ignore specific files
web_app_development_log.txt
SQL/
/backend/admin/mailer/send_mail.php